<section class="booking-form contact-us-wrap">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Contact Us</h2>
      </div>
      <div class="col-sm-12 col-md-12 booking-form-bg">
        <div class="booking-form-item">
          <form>
            <div class="form-group row">
              <label for="fullName" class="col-sm-4 col-form-label"
                >Your Full Name:
              </label>
              <div class="col-sm-8 custom-collum">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="fullName"
                  name="fullName"
                  placeholder="Enter Your Full Name:"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="emailAddress" class="col-sm-4 col-form-label"
                >Your Email Address:</label
              >
              <div class="col-sm-8 custom-collum">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="emailAddress"
                  name="emailAddress"
                  placeholder="Enter Email Address"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="nameOfSchool" class="col-sm-4 col-form-label"
                >Name of School:</label
              >
              <div class="col-sm-8 custom-collum">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="nameOfSchool"
                  name="nameOfSchool"
                  placeholder="Enter Name of School"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="message" class="col-sm-4 col-form-label"
                >Your Message:</label
              >
              <div class="col-sm-8 custom-collum-textarea">
                <textarea
                  class="form-control form-control-lg"
                  id="message"
                  name="message"
                  rows="5"
                  placeholder="Enter Message"
                ></textarea>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
            <span id="mail-success-message"> </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
