<section class="holding-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-lg-12">
        <div class="holding-heading">
          <img src="assets/img/question.png" alt="" class="img-fluid" />
          <div class="holding-heading-content">
            <h2>what's holding your students back?</h2>
            <p>
              At Schooling Success, we target the causes of student
              underperformance and solve real student problems. Here are a few
              examples of how our workshops practically make a difference in
              your students' lives:
            </p>
          </div>
        </div>
        <!-- END of holding -->
      </div>
      <!-- END .col -->
      <div class="col">
        <div class="holding-content-bg">
          <div class="holding-content">
            <ul>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  It takes something special for students to break away from the
                  addictive allure of social media to study. That something
                  special is self-control! We’ll teach your students proven
                  techniques to master willpower and take back control of their
                  studies.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  What makes students work harder after a bad result instead of
                  giving up? Grit. We’ll show yours students how inviting
                  challenges can transform their lives.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  Teenagers are notorious for compulsively checking their mobile
                  phones. We’ll teach your students how to replace their
                  less-than-constructive habits with ones that can help them get
                  top grades.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  Leaving work to the last minute is a common student problem.
                  We’ll teach your students easy techniques to conquer
                  procrastination and stay ahead, no matter how big the task to
                  be accomplished.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  Tired students don’t learn well. The lack of sleep in students
                  today has been described as a ‘public health crisis’. We show
                  your students how to optimize sleep, exercise and nutrition so
                  that they’re energized and ready to learn every day.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  Depression, anxiety and negativity in students are other
                  widespread problems making headlines, and they can have a
                  detrimental impact on a student’s education. We provide your
                  students with powerful ways to train happiness and manage
                  stress in the short term and for life.
                </p>
              </li>
              <li>
                <i class="fas fa-arrow-right"></i>
                <p>
                  Unproductive study habits such as “working” in front of the
                  TV, flicking between phones and work, or just plain
                  daydreaming may be costing your students hours of study time
                  every day. We’ll teach your students how to focus and organise
                  themselves so that they can get more work done in less time.
                </p>
              </li>
            </ul>

            <h2>
              Whatever the obstacles holding your students back, we can help!
            </h2>
          </div>
          <!-- END of holding content -->
        </div>
        <!-- END of holding-content-bg -->
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of .holding-wrap -->
