<section class="founder-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <img src="assets/img/founder-img.png" alt="Founder" class="img-fluid" />
      </div>
      <!-- END of col -->
      <div class="col-lg-8 col-md-8 col-xs-12">
        <h2>meet the founder</h2>
        <p>
          I’m Abdul Shakoor, the founder of Schooling Success. I created this
          company because I wish I knew everything our seminars teach when I was
          at school. I was a classic fixed mindset student - always afraid to
          ask questions in class, wondering whether I was smart enough, and
          worried about getting things wrong. On top of that, I had a strong
          inclination to always do just enough to get by and a commitment to
          never extend too far beyond my comfort zone. My priority was coping
          instead of thriving.
        </p>
        <p>
          I did terribly at what used to be AS Levels after becoming addicted to
          computer games (thank God for resits!). And my lethargic and coping
          attitude persisted through university and working life.
        </p>
        <p>
          It took me twenty five years (and a herculean effort!) to break out of
          my inertia of mediocrity and start to excel in life. And it only
          happened after I was exposed to the ideas, principles and skills we
          teach in our seminars. What took me years to learn, I have distilled
          into powerful, digestible content for your students. The wisdom we
          share in our seminars has helped millions around the world flourish,
          and it can help your students too!
        </p>
      </div>
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of .container -->
</section>
<!-- END of founder -->
