<section class="energy-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12">
        <div class="energy-header text-justify">
          <img src="assets/img/enargy.png" alt="energy" class="img-fluid" />
          <h2>Energy MANAGEMENT</h2>
          <h4>2 seminars</h4>
          <p>
            “The human individual lives usually far within his limits; he
            possesses powers of various sorts which he habitually fails to use.
            He energizes below his maximum, and he behaves below his optimum.” –
            Psychologist William James
          </p>
          <p>
            Growth Mindset needs no introduction. It has been pushed
            relentlessly in schools recently, and for good reason. It's the
            mindset of the most successful students. Based on research by Carol
            Dweck, Growth Mindset is the belief that qualities such as
            intellectual capacity are not just based on innate ability but can
            be cultivated through effort. On the other hand, a fixed mindset is
            the ‘either you have it or you don’t’ mentality. It is the belief
            that one’s ability is set in stone from birth and cannot be altered.
          </p>
          <p>
            A student with a fixed mindset is more likely to shy away from
            asking questions in class for fear of looking ‘stupid’. If they were
            ‘smart’ they wouldn’t need to ask questions in the first place. On
            the other hand, a student with a growth mindset views asking
            questions in class, not as indicative of their lack of intellectual
            ability, but as opportunities to learn and grow. These students do
            not fear the failure to meet an intellectual challenge but view it
            as a stepping stone to success. As such, these students are more
            likely to embrace intellectual challenges, have higher life
            aspirations and get better grades.
          </p>
          <p>
            Research has shown that learning about a growth mindset leads to a
            greater enjoyment of the academic process, greater academic
            engagement, and higher grades in students.1
          </p>
          <p>
            In fact, learning about a growth mindset has a greater impact on
            student performance than learning study skills and cramming
            additional curriculum content before an exam.2
          </p>
          <p>
            Our innovative seminars incorporate Dweck's breakthrough ideas as
            well as contemporary research by neurologist Dr Douglas Fields and
            psychologist Anders Ericcson to transform your students’ mindsets.
            Our unique seminars contain powerful growth mindset advice from some
            of the most successful individuals in history and compelling real
            life examples to leave your students feeling like they can achieve
            anything.
          </p>
        </div>
      </div>
      <!-- END of col -->
      <div class="col-sm-12">
        <div class="energy-content">
          <a href="#" class="btn btn-primary btn-book">Seminar ONE</a>
          <h2>Growth Mindset - Key Principles (1.5 hours)</h2>
          <h4>In this seminar your students will learn:</h4>
          <ul>
            <li>
              <span>1</span>What a growth mindset is and how it differs from a
              fixed mindset.
            </li>
            <li>
              <span>2</span>How a growth mindset can transform their view of
              their potential.
            </li>
            <li>
              <span>3</span>How the brain learns and grows, including activities
              they can use to grow their brain.
            </li>
            <li>
              <span>4</span>How obstacles and failures can be stepping stones to
              success.
            </li>
            <li><span>5</span>The different types of intelligences.</li>
            <li><span>6</span>Why effort is more important than IQ.</li>
            <li><span> 7</span>Inspirational growth mindset stories.</li>
            <li>
              <span>8</span>Putting theory into practice by identifying their
              limiting beliefs and considering how they will use a growth
              mindset to overcome them.
            </li>
          </ul>
        </div>
        <!-- END of energy-content -->
      </div>
      <!-- END of col -->
      <div class="col-sm-12">
        <div class="energy-content">
          <a href="#" class="btn btn-primary btn-book">Seminar two</a>
          <h2>
            Growth Mindset in Practice – From Coping to Thriving (1.5 hours)
          </h2>
          <p>
            This is one of our most powerful seminars. We take the principles of
            growth mindset and apply them practically to help your students take
            responsibility for their education and their lives in general. In
            this seminar your students will learn:
          </p>
          <p>In this seminar your students will learn:</p>
          <ul>
            <li>
              <span>1</span>What a growth mindset is and how it differs from a
              fixed mindset.
            </li>
            <li>
              <span>2</span>How a growth mindset can transform their view of
              their potential.
            </li>
            <li>
              <span>3</span>How the brain learns and grows, including activities
              they can use to grow their brain.
            </li>
            <li>
              <span>4</span>How obstacles and failures can be stepping stones to
              success.
            </li>
            <li><span>5</span>The different types of intelligences.</li>
            <li><span>6</span>Why effort is more important than IQ.</li>
            <li><span>7</span>Inspirational growth mindset stories.</li>
            <li>
              <span>8</span>Putting theory into practice by identifying their
              limiting beliefs and considering how they will use a growth
              mindset to overcome them.
            </li>
          </ul>
          <h1>
            These are two independent seminars that can be booked separately.
          </h1>
        </div>
        <!-- END of energy-content -->
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of energy-wrap -->
<section class="energy-footer-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12">
        <h2>References:</h2>
        <ol>
          <li>
            Aronson, J., Fried, C. B., & Good, C. (2002). Reducing the effects
            of stereotype threat on African American college students by shaping
            theories of intelligence. Journal of Experimental Social Psychology,
            38(2), 113-125
          </li>
          <li>
            Good, C., Aronson, J., & Inzlicht, M. (2003). Improving adolescents'
            standardized test performance: An intervention to reduce the effects
            of stereotype threat. Journal of Applied Developmental Psychology,
            24(6), 645-662. https://doi.org/10.1016/j.appdev.2003.09.002
          </li>
        </ol>
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of energy-footer-wrap -->

<section class="button-energy text-center">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12">
        <a routerLink="/book-seminar" class="btn btn-primary">Book Seminar</a>
      </div>
    </figure>
  </article>
</section>

<section class="testimonial-wrap e-testimonial-wrap">
  <article class="container">
    <figure class="row"></figure>
    <!-- END of row -->
    <!-- <figure class="row"> -->
    <div class="testimonial-icon-wrap row justify-content-center">
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/goals.png" alt="goals" class="img-fluid" />
          </p>
          <h3>Goals</h3>
          <p>2 Seminars</p>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img
              src="assets/img/productivity.png"
              alt="goals"
              class="img-fluid"
            />
          </p>
          <h3>PRODUCTIVITY</h3>
          <p>2 Seminars</p>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/enargy.png" alt="goals" class="img-fluid" />
          </p>
          <h3>ENERGY MANAGEMENT</h3>
          <p>2 Seminars</p>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/clock.png" alt="goals" class="img-fluid" />
          </p>
          <h3>HABITS</h3>
          <p>2 Seminars</p>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
    </div>
    <!-- END of testimonial-icon-wrap -->
  </article>
  <!-- END of .container -->
</section>
<!-- END of .testimonial-wrap -->
