<footer class="footer">
  <article class="container">
    <figure class="row">
      <div class="col-md-4 col-xs-12 footer-img">
        <img
          src="assets/img/footer-logo.png"
          alt="Footer logo"
          class="img-fluid"
        />
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="footer-nav">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Browse SEMINARS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faqs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BOOK SEMINARS</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- END of footer-nav -->
      </div>
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of article -->
</footer>
<!-- END of footer -->
