<section class="book-wrap">
  <article class="container">
    <figure class="row">
      <div class="col">
        <div class="book-content">
          <h2>
            Help Your Students Exceed Expectations With Schooling Success
            Seminars
          </h2>
          <a href="#" class="btn btn-primary btn-book">book a seminar today</a>
          <p>Hurry, limited availability!</p>
        </div>
        <!-- END of book-content -->
      </div>
    </figure>
    <!-- END of col -->
  </article>
  <!-- END of container -->
</section>
