<section class="attainment-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="attainment-text mt-5">
          <h2>Help your students <b>overachieve</b></h2>
          <a
            routerLink="book-seminar"
            class="btn btn-primary custom-btn mt-3 mb-3"
          >
            Book a Seminar
            <i class="fas fa-caret-right"></i>
          </a>
          <p class="ml-4">Hurry limited availability</p>
        </div>
        <!-- END of .attainment-text -->
      </div>
      <!-- END of col -->
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="attainment-img">
          <img
            class="img-fluid"
            src="assets/img/attainment-diagram.png"
            alt="attainment diagram "
          />
        </div>
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of attainment-wrap -->
<section class="attainment-info">
  <div class="linear-bg"></div>
  <article class="container">
    <figure class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="attainment-info-text">
          <h2>
            All the pieces of the attainment
            <span>puzzle for your students</span>
          </h2>
          <p class="some-text">
            Some companies teach study skills; we teach your students success.
            Yes, learning how to learn is important, and Schooling Success runs
            exceptional evidence-based revision workshops. But that is just one
            piece of the attainment puzzle. Through high impact seminars
            targeting Years 10 to 13, we train your students to develop all the
            major predictors of academic success.
          </p>
          <div class="row">
            <div class="col-md-4 attainment-info-img">
              <img class="img-fluid" src="assets/img/puzzel.png" alt="" />
            </div>
            <!-- END of col -->
            <div class="col-md-8">
              <p class="text-justify">
                Our innovative seminars cover topics from growth mindset and
                grit to procrastination and positivity; from self-control and
                habits to self-esteem and goals. What sets us apart from other
                companies is that we don’t just dabble in these topics, we go
                all in! By the end of our seminars your students will have
                mastered the concepts for an immediate and lasting impact on
                their education.
              </p>
            </div>
            <!-- END of col -->
          </div>
          <!-- END of row -->
        </div>
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of attainment-info -->
