<header>
  <section class="header-wrap">
    <article class="container">
      <figure class="row">
        <div class="col col-xs-12 mt-4">
          <div class="navbar navbar-expand-lg custom-nav">
            <a routerLink="/" class="navbar-brand">
              <img src="assets/img/logo.png" class="nav-img" alt="logo" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#nav-bar"
            >
              <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-bar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a
                    routerLink="browse-seminar"
                    routerLinkActive="active"
                    class="nav-link"
                    >Browse Seminars</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    routerLink="contact"
                    routerLinkActive="active"
                    class="nav-link"
                    >Contact Us</a
                  >
                </li>
                <li class="nav-item active">
                  <a
                    routerLink="book-seminar"
                    routerLinkActive="active"
                    class="nav-link"
                    >book-seminar</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </figure>
    </article>
  </section>
</header>
<!-- END of header -->
