<div class="main-bg">
  <section class="sec-wrap">
    <article class="container">
      <figure class="row">
        <div class="col-md-8 col-sm-12 m-auto">
          <div class="sec-content">
            <img src="assets/img/30-sec.png" alt="30-sec" />
            <h2 class="hide">
              You’re 30 seconds away <br />
              from transforming your school.
            </h2>
            <h2 class="show">
              You’re 30 seconds away from transforming your school.
            </h2>
            <h4>Fill out the form below and we’ll be in touch very soon!</h4>

            <p>
              The best schools in the country invest time and resources in their
              students. It’s a simple equation: life and study skills training
              for your students by us can lead to greater levels of attainment.
              Better school results promote an outstanding, high-achieving
              school with a greater profile.
            </p>
          </div>
        </div>
        <!-- END of col -->
      </figure>
      <!-- END of row -->
    </article>
    <!-- END of container -->
  </section>
  <!-- END of sec-wrap -->
  <section class="pricing-wrap">
    <article class="container">
      <figure class="row">
        <div class="pricing-heading">
          <div class="col-md-10 col-xs-12 m-auto">
            <h2>Pricing Plans</h2>
            <p>
              We are very flexible with timings and would be happy to tailor
              seminars to your School’s needs. However, the following plans may
              be used as a guide (all the prices have VAT included). Please note
              that you can check the length of any seminar by navigating to the
              relevant page under ‘Browse Seminars’.
            </p>
          </div>
          <!-- END of col -->
        </div>
        <!-- END of pricing-heading -->
        <div class="col-md-6 col-xs-12">
          <div class="pricing-bg">
            <div class="pricing-content">
              <h2>Full Cohort</h2>
              <p>up to ~200 students at a time</p>
            </div>
            <div class="pricing-table">
              <table class="table">
                <tr>
                  <td><span>1</span></td>
                  <td>Any 1 hour seminar</td>
                  <td><span>£299</span></td>
                </tr>
                <tr>
                  <td><span>2</span></td>
                  <td>Any 1.5 hour seminar</td>
                  <td><span>£399</span></td>
                </tr>
              </table>
              <!-- END of table -->
              <div class="table-details text-left">
                <p><span>Pro:</span>Best value</p>
                <p>
                  <span>Cons:</span>Less interactive and no written exercises.
                </p>
              </div>
              <!-- END of table-details -->
            </div>
          </div>
          <!-- END of pricing-bg -->
        </div>
        <!-- END of col -->
        <div class="col-md-6 col-xs-12">
          <div class="pricing-bg">
            <div class="pricing-content">
              <h2>Split sessions</h2>
              <p>4-5 sessions with up to ~50 students at a time</p>
            </div>
            <div class="pricing-table">
              <table class="table">
                <tr>
                  <td><span>1</span></td>
                  <td>Any 1 hour seminar x 4-5 sessions</td>
                  <td><span>total £399</span></td>
                </tr>
                <tr>
                  <td><span>2</span></td>
                  <td>
                    Any 1.5 hour seminar x 4-5 sessions
                    <span>(over 2 days)</span>
                  </td>
                  <td><span>total £499</span></td>
                </tr>
              </table>
              <!-- END of table -->
              <div class="table-details mt-90 text-left">
                <p>
                  <span>Pro:</span>Better engagement with students and
                  opportunities for written exercises.
                </p>
                <p><span>Cons:</span>Higher overall cost.</p>
              </div>
              <!-- END of table-details -->
            </div>
          </div>
          <!-- END of pricing-bg -->
        </div>
        <!-- END of col -->
      </figure>
      <!-- END of row -->
      <figure class="row text-center">
        <div class="col-md-12 col-xs-12 m-auto pricing-outer">
          <h2>
            We offer discounts on multiple seminar bookings! Complete the form
            below for a quick quote.
          </h2>
        </div>
        <!-- END of col -->
        <div class="col-md-4 col-xs-12 pricing-icon">
          <img
            src="assets/img/return-money.png"
            alt="Return Money"
            class="img-fluid"
          />
          <p>100% Return On Investment Promise (see below)</p>
        </div>
        <!-- END of col -->
        <div class="col-md-4 col-xs-12 pricing-icon">
          <img src="assets/img/pdf.png" alt="pdg" class="img-fluid" />
          <p>
            Free Cheat Sheet PDF - no need to worry about your students
            forgetting.
          </p>
        </div>
        <!-- END of col -->
        <div class="col-md-4 col-xs-12 pricing-icon">
          <img src="assets/img/free.png" alt="free" class="img-fluid" />
          <p>Free Cancellation up to a month before.</p>
        </div>
        <!-- END of col -->
      </figure>
      <!-- END of row -->
    </article>
    <!-- END of container -->
  </section>
  <!-- END of pricing-wrap -->
</div>
<!-- END of bg -->
<section class="booking-form">
  <article class="container">
    <figure class="row">
      <div class="col">
        <h2 class="text-center">Booking Form</h2>
      </div>
      <!-- END of col -->
      <div class="col-md-12 booking-form-bg">
        <div class="booking-form-item">
          <form>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Your Full Name:</label
              >
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-lg" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Name of School:</label
              >
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-lg" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Email Address:</label
              >
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-lg" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Total Number of Students:</label
              >
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-lg" />
              </div>
            </div>

            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Select Seminars:</label
              >
              <div class="col-sm-9">
                <select
                  class="custom-select form-control custom-select-lg"
                  id="inlineFormCustomSelectPref"
                >
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Promotional Code:</label
              >
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-lg" />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-3 col-form-label col-form-label-lg"
                >Message (optional):</label
              >
              <div class="col-sm-9">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>
          </form>
        </div>
        <!-- END of booking-form-item -->
      </div>
      <!-- END of col -->
      <div class="col-md-8 text-center m-auto">
        <h3>Schooling Success 100% ROI Promise</h3>
        <p>
          Our aim is to provide seminars that amaze and delight. If, for
          whatever reason, our seminars don’t provide the return on investment
          you envisaged, we cannot in good conscience keep your money. We
          promise to refund you every penny and we’ll give you three months to
          claim it.
        </p>
      </div>
      <!-- END of col -->
    </figure>
  </article>
  <!-- END of row -->
</section>
<!-- END of booking-from -->
