<section class="what-school-wrap">
  <div class="what-school-wrap-bg"></div>
  <article class="container">
    <figure class="row what-school-content">
      <div class="col-md-8 col-xs-12">
        <h2 class="text-center">
          Here’s What Schools Like Yours Are Saying About Us
        </h2>
      </div>
      <!-- END of col -->
      <div class="col-md-4 col-xs-12">
        <img
          src="assets/img/testimonial.png"
          class="img-fluid"
          style="z-index: 1"
          alt=""
        />
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
    <div class="row">
      <div class="col-sm-12 inner-item">
        <div class="what-school-text single-item">
          <div class="item">
            <p>
              Our students found it engaging and useful, packed full of takeaway
              strategies and tips. The information was delivered in a quick
              paced, exciting way that kept all students listening and hooked.”
            </p>
            <h2>
              Joe Roper, Assistant Headteacher, Park Hall Academy, Birmingham
            </h2>
          </div>

          <div class="item">
            <p>
              Our students found it engaging and useful, packed full of takeaway
              strategies and tips. The information was delivered in a quick
              paced, exciting way that kept all students listening and hooked.”
            </p>
            <h2>
              Joe Roper, Assistant Headteacher, Park Hall Academy, Birmingham
            </h2>
          </div>

          <div class="item">
            <p>
              Our students found it engaging and useful, packed full of takeaway
              strategies and tips. The information was delivered in a quick
              paced, exciting way that kept all students listening and hooked.”
            </p>
            <h2>
              Joe Roper, Assistant Headteacher, Park Hall Academy, Birmingham
            </h2>
          </div>
          <div class="item">
            <p>
              Our students found it engaging and useful, packed full of takeaway
              strategies and tips. The information was delivered in a quick
              paced, exciting way that kept all students listening and hooked.”
            </p>
            <h2>
              Joe Roper, Assistant Headteacher, Park Hall Academy, Birmingham
            </h2>
          </div>
        </div>
      </div>
      <!-- END of col -->
    </div>
    <!-- END of row -->
  </article>
  <!-- END of container -->
</section>
<!-- END of what-school-wrap -->
