<section class="testimonial-wrap">
  <article class="container">
    <figure class="row">
      <div class="col text-center">
        <div class="testimonial-heading">
          <h2>Our All New Transformational Seminars</h2>
          <p>
            Based on scientific research and tried & tested principles of the
            most successful people in the world.
          </p>
        </div>
      </div>
      <!-- END of col -->
    </figure>
    <!-- END of row -->
    <!-- <figure class="row"> -->
    <div class="testimonial-icon-wrap row justify-content-center">
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/goals.png" alt="goals" class="img-fluid" />
          </p>
          <h3>Goals</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/brain.png" alt="goals" class="img-fluid" />
          </p>
          <h3>Growth Mindset</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/enargy.png" alt="goals" class="img-fluid" />
          </p>
          <h3>ENERGY MANAGEMENT</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/study.png" alt="goals" class="img-fluid" />
          </p>
          <h3>Revision Techniques</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img
              src="assets/img/productivity.png"
              alt="goals"
              class="img-fluid"
            />
          </p>
          <h3>PRODUCTIVITY</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/clock.png" alt="goals" class="img-fluid" />
          </p>
          <h3>HABITS</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img
              src="assets/img/self-control.png"
              alt="goals"
              class="img-fluid"
            />
          </p>
          <h3>SELF CONTROL</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/grit.png" alt="goals" class="img-fluid" />
          </p>
          <h3>GRIT</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img src="assets/img/happiness.png" alt="goals" class="img-fluid" />
          </p>
          <h3>HAPPINESS & MENTAL FORTITUDE</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
      <div class="col-sm-3 col-xs-6 gols-item">
        <div class="inner-wrap">
          <p>
            <img
              src="assets/img/self-esteem.png"
              alt="goals"
              class="img-fluid"
            />
          </p>
          <h3>SELF ESTEEM</h3>
        </div>
        <!-- END of inner-wrap -->
      </div>
      <!-- END of col -->
    </div>
    <!-- END of testimonial-icon-wrap -->
  </article>
  <!-- END of .container -->
</section>
<!-- END of .testimonial-wrap -->
